html
{
  background-image: url("fundal1.jpg");
  color: white;
}
#sigla
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
h3
{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
  z-index: 2;
}
p
{
  text-align: justify;
}
.meniu
{
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navbar
{
  overflow: hidden;
  background-color: #000000;
  z-index: 3;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.navbar a {

  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 20.5em;
  cursor: pointer;
  text-align: center;
}

.dropdown .btn {
  background-color: inherit;
  outline: none;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  font-family: inherit;
  margin: 0;
  width: 4.3em;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #c08497;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #c08497;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6b3cc;
  z-index: 3;
  width: 20.5em;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #b0d0d3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
h4
{
  text-align: center;
}
figure
{
  display: inline-block;
  border: solid black;
  width: 35%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  background-color: #C08497;
}
figure img
{
  width: 100%;
}
figcaption
{
  visibility: hidden;
}
figure:hover figcaption
{
  visibility: visible;
}
section
{
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #c08497;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #b0d0d3;
}

@media screen and (max-width: 600px) {
  html{
    background-image: url("fundalM.jpg");
    color: white;
  }
  figure
  {
    background-color: #B0D0D3;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 10.5em;
    cursor: pointer;
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6b3cc;
    z-index: 3;
    width: 10.5em;
  }

}
